.navbar{
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    padding: 1rem;
    li{
        list-style: none;
        a{
            transition: all 0.3s ease;
            letter-spacing: 0.1rem;
            text-decoration: none;
            color: white;
            font-size: 2rem;
            font-weight: 500;
            &:hover{
                color: gold;
            }
        }
        .icon{
            font-size: 1.8rem;
            margin-right: .5rem;
        }
    }
}
