.card{
    .title{
        color: gold;
        font-weight: bold;
    }
    .subtitle{
        color: white;
    }
    .feature-grid{
        gap: 5rem;
    }
    .feature-title{
        margin-left: 1rem;
        color: gold;
        font-weight: bold;
    }
    .feature-description{

        color: white;
    }
}