@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Tiny5';
    src: url('/font/Tiny5/Tiny5-Regular.ttf');
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    height: max-content;
}

body {
    height: max-content;
    
}
body *{
        font-family: 'Tiny5', monospace;
}


/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(24, 24, 47);
}

::-webkit-scrollbar-thumb {
    background: gold;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b8860b;
}